<footer th:fragment="footer" class="footer-steren" xmlns:th="http://www.thymeleaf.org">
    <div class="footer-grid">

        <div class="footer-col">
            <h3 class="footer-toggle" data-target="footer-cat">CATEGORÍAS</h3>

            <div id="footer-cat" class="footer-content">
                <ul>
                    <li th:each="cat : ${categoriasGlobal}">
                        <a th:href="@{/catalogo(cat=${cat.nombre})}" th:text="${cat.nombre}"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-col">
            <h3 class="footer-toggle" data-target="footer-shop">ELECTRO SHOP</h3>
            <div id="footer-shop" class="footer-content">
                <ul>
                    <li><a th:href="@{/acerca}">Acerca de Nosotros</a></li>
                    <li><a th:href="@{/tiendas}">Ubicación de Tiendas</a></li>
                    <li><a th:href="@{/catalogo-digital}">Catálogo Digital</a></li>
                    <li><a th:href="@{/empleo}">Únete al equipo</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-col">
            <h3 class="footer-toggle" data-target="footer-politicas">POLÍTICAS</h3>
            <div id="footer-politicas" class="footer-content">
                <ul>
                    <li><a th:href="@{/terminos}">Términos y Condiciones</a></li>
                    <li><a th:href="@{/privacidad}">Política de Privacidad</a></li>
                    <li><a th:href="@{/garantias}">Información de Garantías</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-col">
            <h3 class="footer-toggle" data-target="footer-social">SÍGUENOS</h3>

            <div id="footer-social" class="footer-content social-links">

                <a href="https://www.facebook.com/share/1CSZYx3hR9/?mibextid=wwXIfr" class="social-icon" target="_blank" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <a href="https://www.instagram.com/electroshop1650?igsh=bGk3ZWU0YnZ2Y3Z4&utm_source=qr" class="social-icon" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="https://www.tiktok.com/@electro._shop" class="social-icon" target="_blank" aria-label="TikTok">
                    <i class="fab fa-tiktok"></i>
                </a>
    </div>
        </div>

    <div class="footer-bottom">
        <p>&copy; <span th:text="${#dates.year(#dates.createNow())}">2025</span> ELECTRO SHOP. Fue creado para un proyecto universitario.</p>
    </div>
 </div>
</footer>