<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ELECTRO SHOP - Catálogo Principal</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>
<body>

<div th:replace="~{fragments/header :: header}">
    <p>Header Estático (Si falla Thymeleaf)</p>
</div>

<main class="container">
    <div th:if="${pedidoExitoso}" class="alert alert-success" th:text="${pedidoExitoso}"></div>
    <div th:if="${pedidoError}" class="alert alert-danger" th:text="${pedidoError}"></div>
    <h1 th:text="${titulo}">Catálogo de Productos Eléctricos</h1>

    <div class="productos-grid">

        <div class="producto-card" th:each="producto : ${productos}">

            <a th:href="@{/producto/{id}(id=${producto.id})}" style="text-decoration: none;">
                <img th:src="${producto.imagenUrl}" alt="Imagen de Producto" style="width:100%; max-height: 150px;">
                <div class="producto-info">
                    <p class="producto-nombre" th:text="${producto.nombre}"></p>
                    <p class="producto-modelo" th:text="${producto.modelo}"></p>
                    <p class="producto-precio" th:text="'$' + ${#numbers.formatDecimal(producto.precio, 1, 2)}"></p>
                    <p class="iva-incluido">IVA Incluido</p>
                </div>
            </a>

            <form th:action="@{/cart/add}" method="POST">
                <input type="hidden" name="productoId" th:value="${producto.id}">

                <input type="hidden" name="redirectUrl" th:value="@{/}">

                <button type="submit" class="btn-comprar">Añadir al Carrito</button>
            </form>
        </div>
        <div th:if="${productos.isEmpty()}" style="grid-column: 1 / -1; text-align: center; padding: 50px;">
            <p>No contamos con ese producto</p>
        </div>

    </div>

</main>

<div th:replace="~{fragments/footer :: footer}">
    <p>Footer Estático (Si falla Thymeleaf)</p>
</div>
<script src="/js/main.js"></script>
</body>
</html>